.main-btn {
  background-color: rgba($redColor, .8);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $redColor;
  }
}


// Hamberger menu 
.hamberger-menu {
  padding: .5rem;
  background-color: $redColor;
  border: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 43px;
  right: 16px;
  cursor: pointer;
  span {
    height: 4px;
    width: 100%;
    background-color: #fff;
    display: block;
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
}