.footer {
	margin-top: 2rem;
	background-color: #e9e9e9;
	overflow: hidden;
	padding: 1rem 0;
	.gallery,
	.info,
	.contact {
		float: $float-left;
	}
	.gallery {
		@media #{$minSmall} {
			width: 100%;
		}
		@media #{$minMedium} {
			width: 50%;
		}
		.img-box {
			overflow: hidden;
			margin-bottom: 25px;
			img {
				display: block;
				width: 150px;
				border: 1px solid #333;
				border-radius: 5px;
				padding: 2px;
				margin: auto;
				@media #{$minSmall} {
					float: $float-left;
				}
			}
			.img-text {
				text-align: center;
				@media #{$minSmall} {
					margin: 0 15px;
					float: $float-left;
					width: calc(100% - 180px);
				}
				h4 {
					margin: 20px 0 10px;
					color: $redColor;
				}
				p {
					line-height: 1.8;
					color: #555;
				}
			}
		}
	}

	.info {
		color: #555;
		line-height: 1.8;
		@media #{$minSmall} {
			width: 50%;
		}
		@media #{$minMedium} {
			width: 25%;
		}
		span {
			color: $redColor;
		}
		h4 {
			margin-top: 20px;
		}
	}

	.contact {
		@media #{$minSmall} {
			width: 50%;
		}
		@media #{$minMedium} {
			width: 25%;
		}
		input[type="text"],
		input[type="email"],
		textarea {
			padding: 10px;
			border: 1px solid #c3c3c3;
			width: 100%;
			margin-bottom: 10px;
			border-radius: 10px;
		}
		textarea {
			height: 140px;
		}
	}

	.section__title {
		color: #555;
		margin: 20px 0;
	}
	.copyright {
		border-top: 2px solid #c2c2c2;
		margin-top: 20px;
		padding: 5px 0;
		.text,
		.author {
			color: #555;
			display: block;
			margin-top: 10px;
			@media #{$minMedium} {
				padding: 20px;
				float: $float-left;
				width: 50%;
			}
		}
		.author {
			@media #{$minMedium} {
				text-align: $text-right;
			}
		}
	}
}
