body {
	height: 4000px;
}
// Slider Starts Here
.slider {
	blockquote {
		width: 80%;
		font-size: 1.2rem;
		line-height: 1.7;
		font-style: italic;
		text-align: center;
		font-weight: bold;
		margin: 2rem auto;
	}
	.sliders {
		position: relative;
		height: 500px;
		border: 1px solid firebrick;
		img {
			@include overlay;
			max-width: 100%;
			opacity: 0;
			@include addPrefix(transition, .5s ease, webkit moz);
			&.active {
				opacity: 1;
			}
		}

		.slider-bullets {
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 10;
			li {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-color: inherit;
				border-radius: 50%;
				border: 2px solid #f4f4f4;
				cursor: pointer;
				&:hover,
				&.active {
					border-color: $redColor;
					background-color: $redColor;
				}

			}

		}

	}
}
