// Slider Starts Here
.slider {
	blockquote {
		width: 80%;
		font-size: 1.2rem;
		line-height: 1.7;
		font-style: italic;
		text-align: center;
		font-weight: bold;
		margin: 2rem auto;
	}
	.sliders {
		position: relative;
		height: 500px;
		border: 1px solid firebrick;
		img {
			@include overlay;
			max-width: 100%;
			opacity: 0;
			@include addPrefix(transition, 0.5s ease, webkit moz);
			&.active {
				opacity: 1;
			}
		}

		.slider-bullets {
			text-align: center;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 10;
			li {
				display: inline-block;
				width: 20px;
				height: 20px;
				background-color: inherit;
				border-radius: 50%;
				border: 1px solid #f4f4f4;
				cursor: pointer;
				&:hover,
				&.active {
					border-color: $redColor;
					background-color: $redColor;
				}
			}
		}
	}
}
// Slider Ends Here

// Services Starts here
.services {
	.service {
		margin-bottom: 1.5rem;
		@media #{$maxMobile} {
			display: block;
			margin-bottom: 0;
			float: none;
			width: 100%;
			padding: 1rem 0;
			i {
				display: block;
				margin-bottom: 1rem;
			}
		}
		@media #{$minMedium} {
			margin-bottom: 0;
			padding: 1rem 0;
			float: $float-left;
			width: (100% / 3);
			&:not(:last-of-type) {
				padding-right: 1rem;
			}
		}
		.service__title {
			color: #666;
			i {
				font-size: 2rem;
				color: $redColor;
			}
		}
		.service__text {
			color: #777;
			line-height: 1.6;
			margin: 1rem 0;
		}
		.service__link {
			color: $redColor;
		}
	}
}
// Services End Here

// Our Players Starts here
.players {
	.player {
		@media #{$minSmall} {
			float: $float-left;
			width: (100% / 2);
			padding-right: 5px;
			padding-left: 5px;
			margin-bottom: 2rem;
		}
		@media #{$minMedium} {
			width: (100% / 3);
		}
		@media #{$minLarge} {
			width: (100% / 5);
		}
		@media #{$maxMobile} {
			display: block;
			padding-right: 5px;
			padding-left: 5px;
			margin-bottom: 2rem;
		}
		.player__img {
			max-width: 100%;
		}
		.player__title {
			margin-top: 0.5rem;
			color: #666;
			font-weight: normal;
			span {
				font-weight: bold;
			}
		}
		.player__text {
			color: #777;
			line-height: 1.6;
			margin: 1rem 0;
		}
		.player__link {
			color: $redColor;
		}
	}
}
// Our Players End Here

// Lorem Ipsum Starts here
.lorem-ipsum {
	.lorem-box {
		display: block;
		@media #{$minMedium} {
			float: $float-left;
			width: (94% / 3);
			&:not(:last-of-type) {
				margin-right: 3%;
			}
		}
		img {
			display: block;
			max-width: 100%;
			margin: 10px auto;
		}
	}
}
// Lorem Ipsum Ends here
